* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

body {
    font-family: 'Open Sans', sans-serif;
}

header {
    width: 100%;
    background: #000;
    display: flex;
}

.header__logo {
    text-transform: uppercase;
    color: #fff;
    font-weight: 800;
    font-size: 24px;
    cursor: pointer;
    margin-top: 56px;
    margin-left: 12%;
}

nav {
    margin-top: 56px;
    margin-left: 29%;
}

.topnav a{
    color: #fff;
    text-align: center;
    padding: 12px 16px;
    font-size: 12px;
    font-weight: bold;
}

.topnav a:hover{
    border-bottom: 3px solid #fcac45;
}

.topnav .icon {
    display: none;
}


main {
    display: flex;
    flex-direction: column;
    width: 100%;
}

main .main__welcome {
    background: #000;
    text-align: center;
    padding: 210px 0 420px 0;
    font-family: 'Open Sans Light', sans-serif;
}

main .main__welcome p {
    color: #999999;
    font-size: 20px;
}

main .main__welcome h1 {
    color: #999999;
    font-size: 44px;
}

.mycompany {
    color: orange;
    font-family: 'Open Sans', sans-serif;
}

.wrapper {
    width: 76%;
    margin: 0 auto;
}

main .main__about {
    display: flex;
    padding: 100px 0 100px 0;
}

.about__right {
    margin-left: 180px;
}

.about__right h1 {
    display: inline-block;
    border-bottom: 3px solid #fcac45;
    padding-bottom: 20px;
    font-size: 26px;
    font-family: 'Open Sans Light', sans-serif;
}

.about__right h1 .aboutus {
    font-size: 28px;
    font-family: 'Open Sans', sans-serif;
}

.about__right p {
    margin: 35px 0 50px 0;
    color: #6c6c6c;
    font-size: 16px;
}

.about__right li {
    background: url(img/mark.png) 0px no-repeat;
    padding-left: 20px;
    font-size: 13px;
    margin-top: 10px;
    color: #6c6c6c;
}

.mw-100 {
    min-width: 100%;
}


.main__team {
    background: #000;
    text-align: center;
    padding: 100px 0 165px 0;
    color: #ffffff;
}

.main__team h1 {
    font-size: 44px;
    padding-bottom: 30px;
}

.line {
    width: 100px;
    height: 3px;
    background: orange;
    position: relative;
    left: 45.5%;
    margin-bottom: 85px;
}

.photo {
    background: #d7d7d7;
    width: 125px;
    height: 125px;
    border-radius: 50%;
    margin: 20px auto;
}

.team__cards {
    display: flex;
}

.name {
    font-size: 20px;
}

.position {
    font-size: 16px;
}

.about_position {
    font-size: 14px;
    margin-top: 40px;
}

.card {
    margin: 0 30px;
}

.services__cards {
    text-align: center;
    display: grid;
    grid-template-columns: 250px 250px 250px 250px;
    grid-column-gap: 20px;
}

.main__services h1 {
    text-align: center;
    padding: 100px 0 30px 0;
    font-size: 44px;
}

.main__services p {
    color: #6c6c6c;
    margin-bottom: 100px;
}

.services__card h4{
    margin-top: 20px;
}

.services__card p {
    color: #222222;
    margin-top: 15px;
}

.main__clients {
    background: #000;
    padding: 100px 0 200px 0;
    color: #fff;
    text-align: center;
}

.main__clients h1 {
    margin-bottom: 35px;
    font-size: 44px;
}

.main__clients img {
    margin-left: 30px;
}

.main__clients h1 span {
    font-family: 'Open Sans Light', sans-serif;
}

.main__testimonials {
    background: #000;
    padding: 100px 0 180px 0;
    text-align: center;
    color: #fff;
}

.main__testimonials h1 {
    padding-bottom: 35px;
    font-size: 44px;
    text-transform: uppercase;
}

.main__testimonials h1 span {
    font-family: 'Open Sans Light', sans-serif;
}

.main__testimonials p {
    text-transform: uppercase;
    margin-bottom: 50px;
}

.main__testimonials h5{
    font-family: 'Open Sans Light', sans-serif;
    color: #646464;
    font-size: 15px;
}

.main_work {
    background: #fff;
    padding: 100px 0 100px 0;
    text-align: center;
}

.main_work h1 {
    padding-bottom: 35px;
    font-size: 44px;
    text-transform: uppercase;
}

.main_work h1 span {
   font-family: 'Open Sans Light', sans-serif;
}

.main_work p {
    padding-bottom: 175px;
    color: #646464;
}

.main_work img {
    height: 220px;
}

.main_work img:hover {
    opacity: 0.9;
}

.contact__wrapper {
    width: 753px;
    margin: 0 auto;
    color: #363636;
}

.contact_form h1{
    text-align: center;
    margin: 100px 0 40px 0;
    font-size: 44px;
    color: #000;
}

.contact_form p {
    margin-bottom: 100px;
}

.form__inputs {
    display: flex;
}


.red {
    color: red;
}

input {
    width: 380px;
    height: 40px;
    font-size: 20px;
    margin-bottom: 30px;
}

input:first-of-type {
    margin-right: 28px;
    margin-top: 5px;
}


textarea {
    width: 100%;
    height: 160px;
}

input, textarea {
    border: 1px solid #999999;
}

.button__block {
    display: flex;
    justify-content: flex-end;
}

input[type="submit"] {
    width: 165px;
    height: 40px;
    background: orange;
    color: #fff;
    margin-right: 0;
}

footer {
    background: #000;
    height: 300px;
}

.social {
    display: flex;
    justify-content: center;
    padding-top: 50px;
}


@media screen and (max-width: 1200px) {
    nav{
        margin-left: 20%;
    }
}
@media screen and (max-width: 1105px) {
    nav{
        margin-left: 10%;
    }
}
@media screen and (max-width: 1010px) {
    .topnav a{
        display: none;
    }
    .topnav a.icon{
        float: right;
        margin-top: -17px;
        display: block;
        color: #fff;
        font-size: 25px;
    }
    nav{
        width: 100%;
    }
    .topnav.responsive{
        position: relative;
        top: 50px;
        left: -200px;
    }
    header .topnav.responsive{
        height: 340px;
    }
    .topnav.responsive a.icon{
        position: absolute;
        top: -50px;
        right: -200px;
    }
    .topnav.responsive a{
        float: none;
        display: block;
        text-align: left;
    }

    main .main__welcome {
        padding: 50px 0 50px 0;
    }

    main .main__welcome p {
        font-size: 14px;
    }

    main .main__welcome h1 {
        font-size: 24px;
    }

    .mw-100 {
        max-width: 100%;
    }

    .main__about {
        flex-direction: column;
    }

    .about__right {
        text-align: center;
        margin-left: 0;
    }

    .about_right li {
        text-align: left;
    }

    .team__cards {
    flex-direction: column;
}

    .services__cards {
        grid-template-columns: auto;
    }

    .line1 img:not(:first-child) {
        display: none;
    }

    .line2 img:not(:first-child) {
        display: none;
    }

    .line3 img:not(:first-child) {
        display: none;
    }

}
